.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: "Effra", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Oxygen, Ubuntu,Cantarell, "Open Sans","Helvetica Neue",sans-serif !default;
  font-size: 11px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
